<nav class="navbar navbar-expand-lg navbar-dark" xmlns:th = "http://www.thymeleaf.org" style="background-color: #212529">
    <a class="navbar-brand" th:href="@{'/'}">E-Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{label.language}">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #212529">
                    <a class="nav-link" href="?lng=en">ENG</a>
                    <a class="nav-link" href="?lng=kz">KAZ</a>
                    <a class="nav-link" href="?lng=ru">RUS</a>
                </div>

            </li>
        </ul>
    </div>
<!--    <a class="navbar-brand" th:href="@{'/admin'}">Admin</a>-->

</nav>