<div xmlns:th = "http://www.thymeleaf.org"
     xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">

    <div layout:fragment = "block-content">

        <style>
            .contain{
                display: flex;
                height: 140vh;
                width: 1400px;
                margin-left: 10px;
                /*border: 1px solid red;*/
                justify-content: space-between!important;
            }
        </style>





        <div class="contain">
            <div class="left" style="width: 20%; margin: 0 auto;">

                <div class="card" style="width: 250px; margin-top: 40px; margin-left: 30px">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #212529">
                            <span style="color: white; font-weight: bold;" th:text="#{label.categories}"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/">
                                <button name="id" class="btn btn-outline-dark btn-sm">
                                    <img src="https://image.freepik.com/free-vector/online-shop-logo_18099-275.jpg" th:text="' ' +#{label.allItems}" style="height: 20px; width: 20px;">
                                </button>
                            </a>
                        </li>
                        <li class="list-group-item" th:each="category : ${categories}">
                            <a th:href="@{'/searchcategory/' + ${category.id}}">
                                <button class="btn btn-outline-dark btn-sm">
                                    <img th:src="${category.logo_url} + ' '" th:text="' ' +${category.name}" style="height: 20px; width: 20px;">
                                </button>
                            </a>
                        </li>

                        <li class="list-group-item">
                            <a th:href="@{'/topItem'}">
                                <button class="btn btn-outline-dark btn-sm" >
                                    <img src="https://image.shutterstock.com/image-vector/top-logo-260nw-678885469.jpg" th:text="' ' + #{button.inTop}" style="height: 20px; width: 20px;" alt="">
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>




                <div class="card" style="width: 250px; margin-top: 40px; margin-left: 30px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"  style="background-color: #212529">
                            <span style="color: white; font-weight: bold" th:text="#{label.brands}"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="/">
                                <button name="id" class="btn btn-outline-dark btn-sm">
                                    <span th:text="#{label.allBrands}"></span>
                                </button>
                            </a>
                        </li>
                        <li class="list-group-item" th:each="bnd : ${brands}">
                            <a th:href="@{'/searchbrand/' + ${bnd.id}}">
                                <button class="btn btn-outline-dark btn-sm">
                                    <span th:text="' ' +${bnd.name}"></span>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>


                <div style="width: 250px; margin-top: 40px; margin-left: 30px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #212529"><a href="#" style="color: white" th:text="#{label.payments}"></a></li>
                        <li class="list-group-item" style="color: #235f6e;font-size: 40px"><i class="fa fa-cc-jcb"></i>&nbsp;&nbsp;<i class="fa fa-cc-visa"></i>&nbsp;&nbsp;<i class="fa fa-cc-paypal"></i></li>
                        <li class="list-group-item" style="color: #235f6e;font-size: 40px"><i class="fa fa-cc-stripe"></i>&nbsp;&nbsp;<i class="fa fa-cc-mastercard"></i>&nbsp;&nbsp;<i class="fa fa-cc-amex"></i></li>
                    </ul>
                </div>


            </div>
            <div class="right" style="width: 70%;">
                <form th:action="@{'/search'}" method="get" class="form-inline mr-auto" style="margin-top: 40px; margin-left: 30px;">
                    <input class="form-control mr-sm-2" type="text" name="search" style="width: 67%;" th:placeholder="#{label.search}" aria-label="Search">

                    <button class="btn blue-gradient btn-rounded " style="color: white; width: 170px; margin-left: 3%; background-color: #212529;"type="submit" th:text="#{button.search}"></button>
                </form>


            <div style="width: 86%; margin-left: 30px;" th:if="${basket.size() == 0}">
                <div class="alert alert-primary" role="alert">
                    <span th:text="#{label.basketSize}"></span>
                    <a href="/" th:text="#{label.allItems}"></a>
                </div>
            </div>
                <table class="table" style="margin-left: 30px; width: 86%;">
                    <thead>
                    <tr>
                        <td scope="col" th:text="#{label.name}"></td>
                        <td scope="col" th:text="#{label.price}"></td>
                        <td scope="col" th:text="#{label.amount}"></td>
                        <td scope="col" th:text="#{label.action}"></td>
                        <td scope="col" th:text="#{label.action}"></td>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="it: ${basket}">
                        <th scope="row">
                            <span th:text="${it.getItems().name}"></span>
                        </th>
                        <th>
                            <span th:text="${it.getItems().price}"></span>
                        </th>
                        <th>
                            <span th:text="${it.getQuantity()}"></span>
                        </th>
                        <th>
                            <form th:action="@{'/addQuantity'}" method="post">
                                <input type="hidden" name="id" th:value="${it.getItems().getId()}">
                                <button type="submit" class="btn btn-success btn-sm"> + </button>

                            </form>
                        </th>
                        <th>
                            <form th:action="@{'/removeQuantity'}" method="post">
                                <input type="hidden" name="id" th:value="${it.getItems().getId()}">
                                <button type="submit" class="btn btn-danger btn-sm"> - </button>

                            </form>
                        </th>
                    </tr>

                    </tbody>

                </table>




                <div class="row">
                    <div class="col-6" style="margin-left: 30px;">
                        <div th:if="${basket.size() != 0}" style="margin-left: 10px;">
                            <span th:text="#{label.total} + ' ' + ${total}"></span>
                            <span> $</span>
                        </div>
                    </div>
                    <div style="margin-left: 99px;" th:if="${basket.size() != 0}">
<!--                        <form th:action="@{'/checkIn'}" method="post">-->
<!--                            <button type="submit" class="btn btn-primary btn-sm">Check in</button>-->
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" th:text="#{label.checkIn}"></button>

<!--                        </form>-->
                    </div>
                    <div style="margin-left: 7px;" th:if="${basket.size() != 0}">
                        <form th:action="@{'/clearBasket'}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm" th:text="#{label.clearBasket}"></button>
                        </form>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <!--                <h4 class="modal-title" th:text="#{button.add_item}"></h4>-->
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{'/checkIn'}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label th:text="#{label.userFullname}">
                                        </label>
                                        <input type="text" class="form-control" name="full_name">
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{label.creditCard}">
                                        </label>
                                        <input type="text" class="form-control" name="card">
                                    </div>
                                    <div class="form-group">
                                        <label>CVV</label>
                                        <input type="text" class="form-control" name="cvv">
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-success" type="submit" th:text="#{button.pay}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>







            </div>
        </div>


    </div>
</div>
</html>