<html xmlns:th = "http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body{
            background-color: grey;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">E-shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/allItems'}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')" th:text="#{label.AllItems}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/admin'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Brands}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/countries'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Countries}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/categories'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Categories}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/allUsers'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Users}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/allRoles'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Roles}"></a>
            </li>
            <!--        <li class="nav-item" sec:authorize="isAuthenticated()">-->
            <!--            <a class="nav-link" th:href="@{'/pictures'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">Pictures</a>-->
            <!--        </li>-->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/orders'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Orders}"></a>
            </li>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6 offset-3">



            <form th:action="@{'/saveItem'}" method="post">
                <input type="hidden" name="id" th:value="${items!=null?items.id:''}">
                <div class="form-group">
                    <label th:text="#{label.name}">
                    </label>
                    <input type="text" class="form-control" name="name" th:value="${items!=null?items.name:''}">

                </div>
                <div class="form-group">
                    <label th:text="#{label.description}">
                    </label>
                    <input type="text" class="form-control" name="description" th:value="${items!=null?items.description:''}">

                </div>
                <div class="form-group">
                    <label th:text="#{label.price}">
                    </label>
                    <input type="integer" class="form-control" name="price" th:value="${items!=null?items.price:''}">

                </div>
                <div class="form-group">
                    <label th:text="#{label.amount}">
                    </label>
                    <input type="integer" class="form-control" name="amount" th:value="${items!=null?items.amount:''}">

                </div>
                <div class="form-group">
                    <label th:text="#{label.rating}">
                    </label>
                    <input type="integer" class="form-control" name="rating" th:value="${items!=null?items.stars:''}">

                </div>
                <div class="form-group">
                    <label th:text="#{label.large_picture}">
                    </label>
                    <input type="text" class="form-control" name="large_picture" th:value="${items!=null?items.large_picture_url:''}">

                </div>
                <div class="form-group">
                    <label th:text="#{label.small_picture}">
                    </label>
                    <input type="text" class="form-control" name="small_picture" th:value="${items!=null?items.small_picture_url:''}">

                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="inTop" th:text="#{label.inTop}">

                        <span class="asteriskField">
        *
       </span>
                    </label>
                    <select class="select form-control" id="inTop" name="inTop">
                        <option th:value="true" th:text="#{label.inTopYes}">

                        </option>
                        <option th:value="false" th:text="#{label.inTopNo}">

                        </option>
                    </select>

                    <div class="form-group">
                        <label th:text="#{label.brand}">

                        </label>
                        <select class="form-control" name="brand_id" id="">
                            <option th:each="bnd : ${brands}" th:text="${bnd.name}" th:value="${bnd.id}" th:selected="${items!=null&&items.brand!=null&&bnd.id==items.brand.id}"></option>
                        </select>
                    </div>

                </div>


                <div class="form-group">
                    <button class="btn btn-success btn-sm float-right" th:text="#{button.save_item}"></button>
                </div>
            </form>

            <form th:action="@{'/deleteItem'}" method="post">
                <input type="hidden" name="id" th:value="${items!=null?items.id:''}">
                <button type="submit" class="btn btn-danger btn-sm float-right mr-2" th:text="#{button.delete_item}"></button>
            </form>


            <div class="row mt-5">
                <div class="col-6 offset-3">
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="cat: ${categories}">
                            <form th:action="@{'/assigncategory'}" method="post">
                                <input type="hidden" name="id" th:value="${items.id}">
                                <input type="hidden" name="category_id" th:value="${cat.id}">
                                <td th:text="${cat.name}"></td>
                                <td style="display: flex" width="10%">
                                    <button class="btn btn-success btn-sm"> + </button>
                                </td>
                            </form>
                        </tr>
                        <tr th:each="cat: ${items.categories}">
                            <form th:action="@{'/removecategory'}" method="post">
                                <input type="hidden" name="id" th:value="${items.id}">
                                <input type="hidden" name="category_id" th:value="${cat.id}">
                                <td th:text="${cat.name}"></td>
                                <td style="display: flex" width="10%">
                                    <button class="btn btn-danger btn-sm"> - </button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-6 offset-3">
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="cat: ${pictures}">
                            <form th:action="@{'/delete/imageitem'}" method="post">
                                <input type="hidden" name="item_id" th:value="${items.id}">
                                <input type="hidden" name="image_id" th:value="${cat.id}">
                                <td><img style="height: 100px;" th:src="@{'/viewimage/'+${cat.url}}" alt=""></td>
                                <td th:text="${cat.url}"></td>
                                <td style="display: flex" width="10%">
                                    <button class="btn btn-danger btn-sm">-</button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>






            <button style="margin-left: 700px;" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">+</button>



            <!-- The Modal -->
            <div class="modal fade" id="exampleModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <!--                <h4 class="modal-title" th:text="#{button.add_item}"></h4>-->
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{'/addPicture'}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" th:value="${items!=null?items.id:''}">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="picture">
                                    <label class="custom-file-label" for="customFile" th:text="#{button.chooseFile }">Choose picture</label>
                                    <button class="btn btn-success mt-2" th:text="#{button.updloadFile}"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>