<div xmlns:th = "http://www.thymeleaf.org"
     xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">

    <div layout:fragment = "block-content"
    style="width: 100%;">


        <style>
            .contain{
                display: flex;
                height: 160vh;
                width: 1400px;
                margin-left: 10px;
                /*border: 1px solid red;*/
                justify-content: space-between!important;

            }
        </style>

        <div class="contain" >
            <div class="left" style="width: 20%; margin: 0 auto;">

                <div class="card" style="width: 250px; margin-top: 40px; margin-left: 30px">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #212529">
                            <span style="color: white" th:text="#{label.categories}"></span>
                        </li>
                        <li class="list-group-item">
                            <a href=""><button name="id" class="btn btn-outline-dark btn-sm"><i class="fa fa-shopping-cart"  th:href="@{'/'}" th:text="#{button.all_items}"></i></button>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href=""><button class="btn btn-outline-dark btn-sm" ><i class="fa fa-mobile" th:href="@{'/'}" th:text="#{button.phones}">Phones</i></button></a>
                        </li>
                        <li class="list-group-item">
                            <a href=""><button class="btn btn-outline-dark btn-sm " ><i class="fa fa-laptop" th:href="@{'/'}" th:text="#{button.laptops}">Laptops</i></button></a>
                        </li>
                        <!--                    <li class="list-group-item">-->
                        <!--                        <a href=""><button class="btn btn-outline-dark btn-sm"><i class="fa fa-stopwatch">Watches</i></button></a>-->
                        <!--                    </li>-->
                        <li class="list-group-item">
                            <a href=""><button class="btn btn-outline-dark btn-sm"><i class="fa fa-tv" th:href="@{'/'}" th:text="#{button.televisions}">Televisions</i></button></a>
                        </li>
                        <!--                    <li class="list-group-item">-->
                        <!--                        <a href=""><button class="btn btn-outline-dark btn-sm"><i class="fa fa-joystick">Game Consoles</i></button></a>-->
                        <!--                    </li>-->
                        <li class="list-group-item">
                            <a href=""><button class="btn btn-outline-dark btn-sm" ><i class="fa fa-shopping-bag" th:href="@{'/'}" th:text="#{button.others}">Others</i></button></a>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{'/topItem'}"><button class="btn btn-outline-dark btn-sm" ><i class="fa fa-arrow-alt-to-top" th:href="@{'/'}" th:text="#{button.inTop}"></i></button></a>
                        </li>
                    </ul>
                </div>

                <div class="card" style="width: 250px; margin-top: 40px; margin-left: 30px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"  style="background-color: #212529">
                            <span style="color: white" th:text="#{label.brands}"></span>
                        </li>
                        <li class="list-group-item">
                            <a href=""><button name="id" class="btn btn-outline-dark btn-sm"><i class="fa fa-shopping-cart"  th:href="@{'/'}" th:text="#{button.all_items}"></i></button>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href=""><button class="btn btn-outline-dark btn-sm" ><i class="fa fa-mobile" th:href="@{'/'}" th:text="#{button.phones}">Phones</i></button></a>
                        </li>
                        <li class="list-group-item">
                            <a href=""><button class="btn btn-outline-dark btn-sm " ><i class="fa fa-laptop" th:href="@{'/'}" th:text="#{button.laptops}">Laptops</i></button></a>
                        </li>
                        <!--                    <li class="list-group-item">-->
                        <!--                        <a href=""><button class="btn btn-outline-dark btn-sm"><i class="fa fa-stopwatch">Watches</i></button></a>-->
                        <!--                    </li>-->
                        <li class="list-group-item">
                            <a href=""><button class="btn btn-outline-dark btn-sm"><i class="fa fa-tv" th:href="@{'/'}" th:text="#{button.televisions}">Televisions</i></button></a>
                        </li>
                        <!--                    <li class="list-group-item">-->
                        <!--                        <a href=""><button class="btn btn-outline-dark btn-sm"><i class="fa fa-joystick">Game Consoles</i></button></a>-->
                        <!--                    </li>-->
                        <li class="list-group-item">
                            <a href=""><button class="btn btn-outline-dark btn-sm" ><i class="fa fa-shopping-bag" th:href="@{'/'}" th:text="#{button.others}">Others</i></button></a>
                        </li>
                    </ul>
                </div>

                <div style="width: 250px; margin-top: 40px; margin-left: 30px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="background-color: #212529"><a href="#" style="color: white" th:text="#{label.payments}"></a></li>
                        <li class="list-group-item" style="color: #235f6e;font-size: 40px"><i class="fa fa-cc-jcb"></i>&nbsp;&nbsp;<i class="fa fa-cc-visa"></i>&nbsp;&nbsp;<i class="fa fa-cc-paypal"></i></li>
                        <li class="list-group-item" style="color: #235f6e;font-size: 40px"><i class="fa fa-cc-stripe"></i>&nbsp;&nbsp;<i class="fa fa-cc-mastercard"></i>&nbsp;&nbsp;<i class="fa fa-cc-amex"></i></li>
                    </ul>
                </div>



            </div>
            <div class="right" style="width: 70%;">


                <div style="margin-left: 90px; width: 67%;">
                    <div class="" style="margin-top: 29px;">
                        <h1 class="text-center" th:text="#{label.welcome} + ' ' + ${currentUser.fullName}"></h1>
                        <div class="" style="width: 100%;">
                                <img th:src="@{'/viewphoto/'+${currentUser.userAvatar}}" alt="" class="my-3" style="width: 100%; height: 400px;">
                        </div>
                        <div style="width: 100%;">
                            <div class="">
                                <form th:action="@{'/uploadavatar'}" method="post" enctype="multipart/form-data">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" name="user_ava">
                                        <label class="custom-file-label" for="customFile" th:text="#{button.chooseFile }"></label>
                                        <button class="btn btn-success mt-2" th:text="#{button.updloadFile}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div style="margin-left: 220px; width: 400px; margin-top: 70px;">
                    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.success_fullname}">
                        <strong th:text="#{alert.success_fullname}"></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{'/saveProfile'}" method="post">
                        <input type="hidden" name="id" th:value="${currentUser.id}">
                        <div class="form-group">
                            <label>Email: </label>
                            <input type="text" class="form-control" name="email" th:value="${currentUser.email}">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.full_name}"></label>
                            <input type="text" class="form-control" name="name" th:value="${currentUser.fullName}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-sm float-right" th:text="#{button.update}"></button>
                        </div>
                    </form>

                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.success_password}">
                        <strong th:text="#{alert.password_successfully_changed}"></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.error_new_password}">
                        <strong th:text="#{alert.error_new_passwords_did_not_match}"></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.error_old_password}">
                        <strong th:text="#{alert.old_password_incorrect}"></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{'/changePassword'}" style="margin-top: 80px;" method="post">
                        <input type="hidden" name="id" th:value="${currentUser.id}">

                        <div class="form-group">
                            <label th:text="#{label.old_password}"></label>
                            <input type="password" class="form-control" name="old_password">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.new_password}"></label>
                            <input type="password" class="form-control" name="new_password">
                        </div>
                        <div class="form-group">
                            <label th:text="#{label.confirm_password}"></label>
                            <input type="password" class="form-control" name="new_password2">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-sm float-right" th:text="#{button.update}"></button>
                        </div>
                    </form>
                </div>








            </div>
        </div>

    </div>

</div>
</html>