<html xmlns:th = "http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body{
            background-color: grey;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">E-shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/allItems'}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')" th:text="#{label.AllItems}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/admin'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Brands}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/countries'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Countries}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/categories'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Categories}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/allUsers'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Users}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/allRoles'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Roles}"></a>
            </li>
            <!--        <li class="nav-item" sec:authorize="isAuthenticated()">-->
            <!--            <a class="nav-link" th:href="@{'/pictures'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">Pictures</a>-->
            <!--        </li>-->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{'/orders'}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{label.Orders}"></a>
            </li>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6 offset-3">



            <form th:action="@{'/saveUser'}" method="post">
                <input type="hidden" name="id" th:value="${users!=null?users.id:''}">
                <div class="form-group">
                    <label>Email
                    </label>
                    <input type="text" class="form-control" name="email" th:value="${users!=null?users.email:''}">

                </div>
                <div class="form-group">
                    <label th:text="#{label.full_name}">
                    </label>
                    <input type="text" class="form-control" name="full_name" th:value="${users!=null?users.fullName:''}">
                </div>


                <div class="form-group">
                    <button class="btn btn-success btn-sm float-right" th:text="#{button.save_item}"></button>
                </div>
            </form>

            <form th:action="@{'/deleteUser'}" method="post">
                <input type="hidden" name="id" th:value="${users!=null?users.id:''}">
                <button type="submit" class="btn btn-danger btn-sm float-right mr-2" th:text="#{button.delete_item}"></button>
            </form>


            <div class="row mt-5">
                <div class="col-6 offset-3">
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="role: ${roles}">
                            <form th:action="@{'/assignrole'}" method="post">
                                <input type="hidden" name="id" th:value="${users.id}">
                                <input type="hidden" name="role_id" th:value="${role.id}">
                                <td th:text="${role.name}"></td>
                                <td style="display: flex" width="10%">
                                    <button class="btn btn-success btn-sm"> + </button>
                                </td>
                            </form>
                        </tr>
                        <tr th:each="role: ${users.roles}">
                            <form th:action="@{'/removerole'}" method="post">
                                <input type="hidden" name="id" th:value="${users.id}">
                                <input type="hidden" name="role_id" th:value="${role.id}">
                                <td th:text="${role.name}"></td>
                                <td style="display: flex" width="10%">
                                    <button class="btn btn-danger btn-sm"> - </button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>